:root {
    --bg-color: #0d0502;
    --text-color: #ff7b00;
    --link-color: #7A3307;
    --link-hover-color: #ff7b00;
    --card-border-color: #210D00;
    --card-overlay-color: rgba(33, 13, 0, 0.75);
    --bottombar-border-color: #7A3307;
    --bottombar-opacity: 0.6;
}